# Backend
MONGODB_URI=mongodb://localhost:27017/ecommerce
JWT_SECRET=ecommerce-jwt-secret-change-in-prod
JWT_EXPIRES_IN=7d
PORT=4000
UPLOAD_DIR=./uploads

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:4000
